<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drive Upload</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3cf256f880.js" crossorigin="anonymous"></script>

    <style>
        .profile-pic {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 3px solid yellowgreen;
            object-fit: contain;
            background-color: #ebe6e6
        }
    </style>
</head>

<body>
    <div class="container pt-5">
        <div class="jumbotron">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-auto">
                        <h1><i style="color: dodgerblue;" class="fab fa-google-drive"></i> Drive Page</h1>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-10">
                        <img src="<%=profPic%>" width="200" height="200" alt="" class="profile-pic" />
                        <span style="font-weight: 500;">
                            <%=name%>
                        </span>
                    </div>
                    <div class="col-2">
                        <div class="mt-2">
                            <a href="/logout" class="btn btn-dark btn-md">Logout</a>
                            <a href="/" class="btn btn-dark btn-md">Back</a>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col col-lg-1">

                    </div>
                    <div class="col-md-auto">
                        <% if (success) { %>
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>File successfully Added!
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                            </div>
                            <%}%>
                                <form action="/upload" method="POST" enctype="multipart/form-data">
                                    <input type="file" class="form-control-file form-control-lg my-3" name="file"
                                        required id="" />
                                    <div class="form-group">
                                        <button class="btn btn-block btn-primary">
                                            Upload file to Drive
                                        </button>
                                    </div>
                                </form>
                    </div>
                    <div class="col col-lg-1">

                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</html>