<!doctype html>
<html>

<head>
    <title>Drive Upload</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3cf256f880.js" crossorigin="anonymous"></script>
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1><i class="fab fa-google-drive"></i> Google Drive Upload</h1>

            <p>Login or Register with:</p>

            <a href="<%=url%>" class="btn btn-danger"><i class="fab fa-google"></i>oogle</a>

        </div>

    </div>
</body>

</html>