<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>youtube Upload</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3cf256f880.js" crossorigin="anonymous"></script>

    <style>
        .profile-pic {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 3px solid yellowgreen;
            object-fit: contain;
            background-color: #ebe6e6
        }
    </style>
</head>

<body>
    <div class="container pt-5">
        <div class="jumbotron">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-auto">
                        <h1><i class="fab fa-youtube"></i> YouTube Video Upload</h1>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-10">
                        <img src="<%=pic%>" width="200" height="200" alt="" class="profile-pic" />
                        <span style="font-weight: 500;">
                            <%=name%>
                        </span>
                    </div>
                    <div class="col-2"><a href="/logout" class="btn btn-primary btn-md">Logout</a></div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col col-lg-1">

                    </div>
                    <div class="col-md-auto">
                        <% if (success) { %>
                            <div class="alert alert-success alert-dismissible">
                              <a href="#" class="close" data-dismiss="alert" aria-label="close"
                                >×</a
                              >
                              <strong>Success!</strong> Your Video is Uploaded to Youtube.
                            </div>
                            <%}%>
                              
                                <form action="/upload_youtube" method="POST" enctype="multipart/form-data">
                                    <div class="form-group">
                                      <div class="form-group">
                                          <input type="text" name="title" placeholder="Title" required class="form-control">
                                      </div>
                                      <div class="form-group">
                                          <textarea name="description" class="form-control" cols="30" rows="10" placeholder="description"></textarea>
                                      </div>
                                
                                      <div class="form-group">
                                      <input
                                        type="file"
                                        class="form-control"
                                        name="file"
                                        required
                                        id=""
                                      />
                                      </div>
                                    </div>
                                    
                                    <div class="form-group">
                                      <button class="btn btn-block btn-danger">
                                        Upload Video
                                      </button>
                                    </div>
                                  </form>
                    </div>
                    <div class="col col-lg-1">

                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</html>